<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="utf-8">
    <title>Ejercicio frases</title>
  </head>
  <body>
  <div class="wrapper">
    <h1>{{title}}</h>
    <p>Welcome to {{title}}</p>
    <input placeholder="title" id="title">
    <input placeholder="url" id="url">
    <div id="save" class="button">
      S A V E
    </div>
  </div>
  <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
